/* Общие стили */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, sans-serif;
}

body {
   
   background-color: #f5f5f5;
   color: #333;
   line-height: 1.5;
}

h2{
   line-height: 1;
   margin: 10px 0px;
}

.photos {
   /* width: 396px; */
   /* height: 520.875px; */
   width: 30%;
   border-radius: 15px;
   margin: 15px;
   margin-right: 25px;
}

.flexcontener {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;

   /* margin-left: 412;
   margin-top: 538, 453; */
}

.photoss {
   width: 57px;
   height: 76px;
   border-radius: 15px;
   margin: 10px;
}

.ColorOption {
   display: flex;
   margin: 5px;
}

.button {
   border-radius: 13px;
   height: 40px;
   border: none;
   color: rgb(0, 0, 0);
   background-color: rgb(215, 215, 217);
   margin: 5px 5px;
   padding: 5px 20px;
}

.button:hover{
   background-color: #6a6969;
   color: #fff;
}

.darktext {
   color: black;
}

.WhiteText {
   color: gray;
   padding-left: 5px;
}

.wbb {
   display: block;
   margin: auto;
   padding: 50px;
   width: 50%;
   display: flex;
}

.wbbb { /*картинка внутри карточки*/
   height: 90%;
   /* width: 40%; */
   /* height: 520.875px; */
   border-radius: 15px;
   display: block;
   margin: auto;
   width: 40%;
   display: flex;
}

.return{
   margin-left: 5px;
}